* {
    color: var(--primary-white);
    font-family:Roboto ;
    margin: 0;
    padding: 0;
}

body {    
    background-image: url("../assets/icons/general/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section {
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25%;
    justify-content: space-between;
    margin: 3rem 0;
    width: 100%;
}

.top-section>div{
    margin-bottom: 1rem;
}
.city-selection {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 5rem 5rem;
    margin: 0 auto;
}

.city-selection input::-webkit-calendar-picker-indicator {
    opacity: 0.5;
 }

.city-selection input::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
 }

.city-icon img {
    height:100%;
    width: 100%;
}

.selected-city{
    align-self: flex-end;
}

#city {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    font-size: 1.6rem;
    height: 2rem;
    padding: 0.4rem;
    width:100%;
}

#city:hover{
    cursor:pointer;
}

.time, .sec {
    color:var(--bright-yellow-text);
    font-weight: 900;
}

.time {
    font-size: 1.6rem;
}

.sec {
    margin-left: 0.rem;
}

.current-time img {
    margin-left: 0.5rem;
}

.date {
    font-family: Roboto-medium;
    font-size: 1.4rem;
}

.current-time {
    align-items: flex-end;
    display: flex;
}

.current-time img {
    width: 30%;
}

.city-weather {
    box-sizing: border-box;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 5rem 5rem;
    margin: 0 auto;
    row-gap: 1rem;
}

.city-weather >div {
    text-align: center;
}

.temp-celcius , .temp-fahrenheit {
    border-right: 1px dashed white;
}

.thick {
    font-family: Roboto-bold;
    font-size: 2rem;
}

.weather-forecast {
    box-sizing: border-box;
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: repeat(11,1fr);
    margin: 0 auto;
    max-width: 600px;
    min-width: 450px;
}

.weather-forecast >div {
    text-align: center;
}

.weather-forecast img {
    width: 50%;
    height: 40%;
}

.forecast-time {
    margin-bottom: 0.5rem;;
}

.vertical-line {
    padding-top:1.7rem;
}
